@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.auth-section {
  background-color: rgb(247, 251, 255);
}

.auth-section .signup-page {
  padding-top: 65px;
}

.column-container {
  min-height: 100vh;
}



/* Signup styles */

.signup-image img {
  width: 9%;
}

.form-container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px 10px rgba(190, 198, 248, 0.25);
  padding: 52px 22px 5px 22px;
  margin-top: 33px;
}

.form-container h2.signup-title {
  color: rgb(38, 38, 113);
  font-family: "Poppins", sans-serif;
  font-size: 32.5px;
}

.form-container label.signup-label {
  color: rgba(0, 0, 0, .75);
  font-size: 21px;
}

.form-container form {
  margin-top: 35px;
}

.form-container input.signup-input {
  font-size: 21px;
  color: rgba(0, 0, 0, .75);
  transition: .2s ease;
}

.form-container label a {
  text-decoration: none;
}

.form-container button.btn {
  width: 100%;
  font-size: 22.5px;
}

.form-container .ques {
  font-size: 19px;
  ;
}

.form-container .ques button {
  border: none;
  background-color: white;
  transition: .4s ease;
}

.form-container .ques button:hover {
  text-decoration: underline;
}

p.copyright {
  font-size: 22.5px;
  color: rgba(0, 0, 0, .75);
}

p.copyright .sgr {
  color: rgb(48, 95, 156);
}

button.scrollTopBtn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.form-contaier input.check {
  border: 2px solid rgb(38, 117, 38);
}


/* Login styles */

.auth-section img.login-image {
  margin-top: 5px;
  width: 26%;
}

.custom-form-container {
  margin-top: 30px;
}

.form-container h2.login-title {
  font-size: 29.5px;
  color: rgb(40, 40, 109);
}

.form-container p.login-subtitle {
  font-size: 18.5px;
}

.form-container .custom-form {
  margin-top: 26px;
}

.custom-labels label,
label.labelEL {
  font-size: 21px;
}


@media (max-width: 726px) {

  .form-container p,
  .form-container p.login-subtitle {
    font-size: 18px;
  }

  .form-container input.signup-input,
  .form-container label.signup-label,
  .form-container button.btn,
  .auth-section p.copyright {
    font-size: 20px;
  }

  .form-container h2.signup-title,
  .form-container h2.login-title {
    font-size: 27px;
  }

  .form-container .ques {
    font-size: 19px;
  }
}

@media (max-height: 800px) {

  .form-container p,
  .form-container p.login-subtitle {
    font-size: 18px;
  }

  .form-container input.signup-input,
  .form-container label.signup-label,
  .form-container button.btn,
  .auth-section p.copyright {
    font-size: 20px;
  }

  .form-container h2.signup-title {
    font-size: 26px;
  }

  .form-container .ques {
    font-size: 18px;
  }

  .column-container {
    padding: 55px 0;
  }
}